# -------------------------------------
# 🔐 Secrets & credentials
# -------------------------------------
src/main/resources/firebase-service-account.json
secrets/
*.env
*.json
src/main/resources/application-local.yml

# -------------------------------------
# 📦 Build outputs
# -------------------------------------
/build/
/out/
/target/
/.gradle/
/logs/
/tmp/

# -------------------------------------
# ⚙️ IDE / OS files
# -------------------------------------
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

